pre{
    text-align: center; text-transform: capitalize; font-style: italic;
    font-size: larger;
}

body{background-image:url('nature2.jpg'); background-size:cover; background-repeat: no-repeat;}

h1{text-align: center;text-shadow:0cqmax;color: rgb(166, 198, 225);}

